section {
    color: white;
}

/* faz com que a caixa de filtros e o resto aparecam lado a lado */
#conteudo {
    display: flex;
    gap: 10vw;
    width: fit-content;
    margin: 0 auto;
}

h1 {
    display: flex;
    align-items: center;
    margin: 1em 0 0.3em 0;
}

/* botao de mostrar/esconder todos os filtros */
.botaoTodosFiltros{
    font-size: 0.9em;
    display: block;
    margin: auto;
    margin-right: 0.3em;
    margin-bottom: 0.9em;
    color: white;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    width: fit-content;
    padding: 0.25em 0.6em;
    border-radius: 10rem;
}

.botaoTodosFiltros:hover{
    color: black;
    background-color: #e6c222;
    animation: fadeIn 0.3s;
}

#botaoEsconder{
    display: none;
}

/* configuracao filtros de pesquisa */

/* caixa de todos os filtros */
#totalFiltros {
    border: 0.07em solid white;
    border-radius: 10px;
    padding: 1.5em;
    width: 25em;
}

/* icone do titulo */
.bxs-filter-alt {
    margin-right: 0.2em;
    font-size: 1.1em;
}

/* roda a setinha do filtro */
.cima{
    transform: rotate(180deg);
}

.rotulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold;
}

label {
    font-size: 1rem;
}

input[type="text"], input[type="number"], input[type="date"]{
    font-size: 1rem;
    height: 2.5em;
    border-radius: 5px;
    border: none;
    padding: 0.8em;
    outline: none;
    background-color: #515160;
    color: white;
}

input[type="date"]{
    color: #e6dad3;
}

input::placeholder{
    color: #e6dad3;
}

#avaliacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* caixa que contem de input do filtro */
.divInput{
    width: 100%;
    margin: 1.5vh 0;
}

/* caixas de organizar os checkboxs e seus labels */
.divMaiorCheckbox{
    display: flex;
    flex-wrap: wrap;
}

.divMenorCheckbox{
    margin-right: 0.8em;
}

/* espaco entre um filtro e outro */
.filtro + .filtro {
    margin-top: 1.5em;
}

.inputGrande{
    box-sizing: border-box;
    width: 100%;
}

#avaliacaoMaior, #avaliacaoMenor{
    width: 40%;
}

.subrotulo{
    margin: 7px 0;
}

/* filtro classificacao indicativa */
.divClassifInd{
    display: flex;
    flex-wrap: wrap;
    gap: 8%;
}

.classifInd{
    border: none;
    width: 1.6em;
    height: 1.6em;
    border-radius: 3px;
    color: white;
    background-color: #515160;
}

/* adicionando cores nas classificacoes*/
.livre:hover{
    background-color: rgb(39, 211, 39);
}

.dez:hover{
    background-color: rgb(51, 168, 218);
}

.doze:hover{
    background-color: rgb(215, 188, 9);
}

.catorze:hover{
    background-color: rgb(235, 154, 4);
}

.dezesseis:hover{
    background-color: rgb(233, 0, 0);
}

.dezoito:hover{
    background-color: black;
}

/* classes pras classificações quando clicadas */
.livreC{
    background-color: rgb(39, 211, 39);
}

.livreC:hover{
    background-color: rgb(39, 211, 39, 0.8);
}

.dezC{
    background-color: rgb(51, 168, 218);
}

.dezC:hover{
    background-color: rgb(51, 168, 218, 0.8);
}

.dozeC{
    background-color: rgb(215, 188, 9);
}

.dozeC:hover{
    background-color: rgb(215, 188, 9, 0.8);
}

.catorzeC{
    background-color: rgb(235, 154, 4);
}

.catorzeC:hover{
    background-color: rgb(235, 154, 4, 0.8);
}

.dezesseisC{
    background-color: rgb(233, 0, 0);
}

.dezesseisC:hover{
    background-color: rgb(233, 0, 0, 0.8);
}

.dezoitoC{
    background-color: black;
}

.dezoitoC:hover{
    border: 0.09em solid white;
}

/* botao para pesquisar */
#botaoPesquisar {
    display: block;
    margin: 1.2em auto;
    background-color: #e6c222;
    border: none;
    font-size: 1em;
    padding: 0.6em 1em;
    border-radius: 9px;
}

#botaoPesquisar:hover {
    transform: translateY(1px);
    background-color: #c4a82c;
}

/*configuracao da imagem que aparece antes da pesquisa*/
#antesPesquisa{
    width: 50em;
    height: 35em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#antesPesquisa img{
    width: 10vw;
    margin-left: 15px;
}

#antesPesquisa p{
    font-size: 1.5em;
    margin-top: 5px;
    color: #e6c222;
    width: 179px;
    text-align: center;
}

/* select ordenar por */
.resultados select{
    outline: none;
    width: fit-content;
}

option{
}

/* configuracao dos dados dos filmes */
.resultados {
    display: none;
    justify-content: space-around;
    align-items: right;
    padding: 0;
}

.filme{
    margin-right: 0;
}

.filme p {
    margin-top: 0;
}

/*classe que oculta os inputs dos filtros de pesquisa*/
.filtro-show {
    display: none;
}