/* Configurando Section */

.secao-caixa{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.secao-caixa h1{
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    margin: 1.2em;
}

.secao-caixa input{
    width: 20vw;
    color: #e6dad3;
    background-color: #515160;
    border: none;
    border-radius: 9px;
    font-size: 1rem;
    padding: 0.5em;
    outline: none;
    margin-top: 0.5rem;
}


#psenha{
    color: #bfbfbf;
    text-align: center;
    margin-top: 0.4em;
}

#psenhaA{
    color: #bfbfbf;
}

#psenhaA:hover{
    color: rgb(177, 159, 199);
    text-decoration: underline;
}

.alertas{
    display: none;
    color: #d16161;
}

.secao-caixa .butao{
    width: 100%;
    padding: 0.5em;
    background-color: #e6c222;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    margin-top: 2em;
}

.secao-caixa .butao:hover{
    background-color: #c4a82c;
    transform: translateY(0.5px);
}

.conteudo{
    display: flex;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5vh;
    min-width: fit-content;
}

form label{
    color: aliceblue;
}

.icone{
    color: aliceblue;
    font-size: 15vh;
}

.conteudo label, input{
    display: block;
}

.info-caixas{
    margin-bottom: 0.3rem;
}

@media (max-width: 768px){
    .secao-caixa{
        padding: 3vh;
    }
    .secao-caixa h1{
        font-size: 2em;
        margin: 0.2em;
    }

    .secao-caixa .butao{
        max-width: 100%;
        font-size: 1em;
    }

    .secao-caixa input{
        width: 100%;
        height: 5vh;
        margin: 0.3em;
        font-size: 1em;
    }
    .conteudo{
        display: block;
        width: 100%;
        padding: 1vh;
        border: none;
    }

    .icone{
        font-size: 10vh;
        display: flex;
        justify-content: center;
    }

    .info-caixas{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
}