.conteudo{
    display: block;
    max-width: 35vw;
}

form{
    width: fit-content;
}

.icone{
    display: flex;
    justify-content: center;
    align-items: center;
}

#fotoUser {
    width: 15vh;
    margin-right: 0.2em;
}

.info-caixas {
    margin-bottom: 0.3rem;
}

#psenha {
    color: #bfbfbf;
    text-align: center;
    margin-top: 0.4em;
}

#psenhaA {
    color: #bfbfbf;
}

#psenhaA:hover {
    color: rgb(177, 159, 199);
    text-decoration: underline;
}

.alertas {
    display: none;
    color: #d16161;
}

/* @media (max-width: 768px) {
    .secao-caixa {
        padding: 3vh;
    }

    .secao-caixa h1 {
        font-size: 2em;
        margin: 0.2em;
    }

    .secao-caixa .butao {
        max-width: 100%;
        font-size: 1em;
    }

    .secao-caixa input {
        width: 100%;
        height: 5vh;
        margin: 0.3em;
        font-size: 1em;
    }

    .conteudo {
        display: block;
        width: 100%;
        padding: 1vh;
    }

    .icone {
        font-size: 10vh;
        display: flex;
        justify-content: center;
    }

    .info-caixas {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

} */