.bx-check{
    font-size: 2.3em;
}

#tituloLixo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5em;
}

#tituloLixo h2{
    margin-top: 0;
}

.bxs-trash{
    color: #c50707;
    font-size: 1.4em;
}

h1 input[type="text"]{
    font-size: 0.7em;
    border-radius: 5px;
    border: none;
    padding: 0.5em 0.7em;
    outline: none;
    background-color: #515160;
    color: white;
}