h1, h2, p:hover {
    cursor:default;
}

section{
    margin: 0 auto;
}

/* tags do filme */
.tags{
    list-style: none;
    padding-left: 0;
    display: flex;
}

.tags li {
    font-size: 0.95em;
    background-color: #e6c222;
    color: black;
    margin: 0.6em 0.4em 0.6em 0;
    padding: 0.2em 0.5em;
    border-radius: 30px;
    cursor: pointer;
}

/* Estilizando .resultados, classe do Style geral  */
section .resultados{
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    height: fit-content;
}

/* Estilizando cada filme */
.filme{
    text-decoration: none;
    text-align: justify;
    flex-direction: row;
    max-width: 50em;
    margin-bottom: 2em;
    box-shadow: 0 5px 5px rgba(14, 14, 14, 0.505);
    background-color: rgb(31, 31, 31);
    border-radius: 8px;
}

.filme h2{
    margin-top: 1em;
    display: flex;
    align-items: center;
}

.filme span{
    margin-left: 0.3em;
    font-size: 0.8em;
    color: #c9c9c9de;
}

.filme img{
    max-width: 10em;
    margin-right: 1em;
    border-radius: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.resultados{
    flex-direction: row;
}

.filme p{
    margin-top: 1em; /*apenas se o filme nao tiver tags; se ele tiver, tire a margin no css da pagina*/
    width: 100%;
}

/* Para que a escala não mude ao passar o mouse  */
section .filme:hover{
    transform: scale(1);
}