/* Desaparece a div de resultados da pesquisa */
#s02 {
    display: none;
}

/* Estilizando a Section  */
section {
    margin: 2vh 2vh;
}

/* Barra de Pesquisa  */
form {
    margin: 1em auto;
    width: 50vw;
    display: flex;
    margin-top: 1em;
    border: 0.1em solid gray;
    border-radius: 20px;
    padding: 1em;
}

form input{
    flex: 1;
    border: none;
    background-color: transparent;
    outline: none;
    color: white;
}

form button{
    background-color: #e6c222;
    border: none;
    border-radius: 20px;
    padding: 1em;
}

/* Alterações em lista, classe do Style geral  */
.lista{
    margin: 3em 15%;
    
}

/* Troca a forma como o scroll aparece na tela (agora irá aparecer o scroll no eixo y)  */
#s02 .itens{
    overflow-x: hidden;
    overflow-y: scroll;
    flex-wrap: wrap;
}
