
/* Estilizando a div container  */
.container {
    display: flex;
    color: white;
    margin: 5em 10%;
}

.container div h1 {
    font-size: 3em;
    margin: 0 0 0.5em 0;
}

.container p {
    text-align: justify;
    line-height: 1.7em;

}

.lista {
    margin-top: 2em;
}
.container h1{
    font-size: 1.5em;
    margin-bottom: 0.8em;
}

.lista h2 {
    margin-bottom: 0.4em;
}

/* Mudando a classe .itens, classe que veio do Style Geral  */
.itens{
    overflow-x: hidden;
    overflow-y: scroll;
    flex-wrap: wrap;
}

.info img {
    width: 100%;
    min-height: 22em;
    /* border-radius: 8px; */
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

}


.info{
    margin-right: 2em;
    min-width:16em;
    height: fit-content;
    border-radius: 8px;
    background-color: rgb(31, 31, 31);
}

.texto{
    padding: 0.8em;
}

#foto{
    max-width: 256px;
    max-height: 384px;
}