#caixa-listas{
    display: flex;
    max-width: 65vw;
    justify-content: center;
    flex-wrap: wrap;
}

#info-listas{
    display: flex;

}

a{
    color: aliceblue;
    font-size: 0.8rem;
}

a:hover{
    color: #c0be2c;
}

h1{
    align-self: center;
}

.poster{
    max-width: 10em;
    border-radius: 0;
    margin-left: 2rem;
    margin-top: 1.8rem;
}