/* Estilo dos parágrafos na seção principal */
.secao-caixa p {
    color: #bfbfbf;
    text-align: center;
    margin-top: 0.4em; 
}

/* Estilo para links */
a {
    color: #bfbfbf;
}

small{
    color: #fff
}

/* Estilo para links ao passar o mouse */
.secao-caixa a:hover {
    color: rgb(177, 159, 199); 
    text-decoration: underline;
}