h1{
    text-align: center;
    margin: 0.8em;
}

#caixaProjeto{
    display: flex;
    margin: auto 17vw;
    gap: 2em;
}

.projeto{
    background-color: rgb(31, 31, 31);
    padding: 1.5em;
    border-radius: 15px;
}

h2{
    margin-bottom: 0.4em;
}

#caixaImagens{
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    gap: 5vw;
    height: 150px;
}

.caixinhaImagem{
    background-color: bisque;
    height: fit-content;
}

#caixaImagens img {
    width: 6vw;
}