h1{
    text-align: center;
    margin: 0.8em;
}

#caixaProjeto{
    display: flex;
    margin: auto 17vw;
    gap: 2em;
}

/*informacoes sobre nós*/
.projeto{
    background-color: rgb(31, 31, 31);
    padding: 1.5em;
    border-radius: 15px;
    width: 35vw;
}

h2{
    margin-bottom: 0.4em;
    font-size: 1.5em;
}

.projeto p {
    font-size: 1em;
    text-align: justify;
}

#caixaImagens{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    height: 30vh;
}

/*fotos dos integrantes*/
#caixaImagens img {
    height: 16vh;
    box-shadow: 0 0 10px 10px rgba(36, 36, 36, 0.671);
    border-radius: 100%;
}