/* Importação da fonte Roboto */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Reset CSS  */
*{
    font-family: 'Kanit', 'Roboto';
    font-weight: 300;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* Alterando a cor dos textos de algumas tags */
h1, h2, h3, p, span{
    color: white;
}

h1 {
    font-size: 2em;
    margin: 0.7em 0;
}

/* Estilizando o body  */
body{
    background-color: rgb(56, 56, 56);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Configuração da nav/header */
nav{
    background-color: rgba(36, 36, 36, 0.671);
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

/* Footer */
footer{
display: flex;
justify-content: center;
align-items: center;
max-width: 100%;
width: 100vw;
background-color:  rgba(36, 36, 36, 0.671);
padding: 2em;
color: white;
margin-top:auto; 
}

footer img{
    width: 10em;
}

footer .column{
    text-align: start;
    text-decoration: none;
    justify-content: flex-start;
    color: white;
    margin-right: 2em;
}

footer .column h2{
    margin-bottom: 0;
    font-size: 1em;
}

footer a{
    text-decoration: none;
    color: white;
    font-size: 0.7em;
}

footer a:hover {
    text-decoration: underline;
}

footer li{
    display: flex;
    align-items: center;
    margin-bottom: 0.2em;
}

footer i{
    margin-right: 0.2em;
}

.bxl-instagram{
    font-size: 1em;
}

/* Configurando lista de elementos da navbar */
ul, li{
    list-style: none;
    font-size: 1.2rem;
}

.menu{
    display: flex;
    align-items: center;
}

.menu li{
    margin-left: 20px;
    margin: 10px;
    color: white;
    
}

.menu li a{
    padding: 5px;
    text-decoration: none;
    color: white;
    
}

.menu li a:hover{
    color: #c0be2c;
}

.menu li:hover{
    color: #c0be2c;
    cursor: pointer;
}

/* Configurando menu backdown */

#btnConta {
    position: relative;
    display: flex;
    justify-content: center;
}

.backdown-menu{
    margin-top: 1.8em;
    visibility: hidden;
    position: absolute;
    border-radius: 3px;
    background-color: #555; 
    width: fit-content;
}

.backdown-menu a,li{
    text-decoration: none;
    color: white;
    padding:0;
}

.backdown-menu li:hover{
    cursor: pointer;
}

/* Ambos serao utilizados para sumir os itens do menu via JS */
.backdown-show {
    visibility: visible;
    animation: fadeIn 0.5s;
}

.item-show {
    display: none;
}

/* Configurando imagem de logo da navbar */
header img{
    width: 7em;
    margin-right: 5em;
}

header img:hover{
    transform:scale(1.05);
    transition: transform 450ms;
}

.lista{
    margin-top: 2vh;
    width: auto;
    margin-bottom: 5em;
}

/* Configuração das Listas de Itens */

/* Lista de Filmes  */
.itens{
    display: flex;
    /* justify-content: space-around; */
    overflow-x: scroll;
    overflow-y: hidden;
    height: fit-content;
    padding: 1vh;
    scrollbar-color: #e6c222 rgba(0, 0, 0, 0);
}

.itens::webkit-scrollbar-button { 
    height: 0;
    width: 0;
}


/* Cada Filme */
.item {
    display: flex;
    margin-right: 2em;
    text-align: center;
    padding-right: 2em;
    max-width: 12em;
    flex-shrink: 0;
    transition: transform 450ms;
}

.item:hover{
    cursor: pointer;
}

.lista h1,.lista h2{
    margin-bottom: 0.5em;
    color: white;
}

.item a {
    color: white;
    text-decoration: none;
}

.item img{
    width: 12em;
    height: 18em;
    border-radius: 10px;
}

/* Aumento da escala ao passar o o mouse  */
.item:hover {
    transform:scale(1.05);
    transition: transform 450ms;
}

#popup {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
  
/* Popup */
#popup .popuptext {
    visibility: hidden;
    width: max-content;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0.3em;
    position: absolute;
    top: 1.5em;
}
  
/* Setinha do Popup */
#popup .popuptext::after {
    content:"";
    rotate:180deg;
    position: absolute;
    top: -25%;
    left: 50%;
    margin-left: -0.2em;
    border-width: 0.3em;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
/* Aparece e desaparece o popup*/
#popup .show {
    visibility: visible;
    animation: fadeIn 0.5s;
}
  
 
/* Animacao Fade in de Popup*/
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* dialogs */
dialog {
    background-color: #333; /* Cor do fundo do diálogo */
    border: none; /* Remove a borda padrão */
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    color: white;
    margin: auto;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.65); /* Fundo escurecido */
}

dialog hr{
    border-color: #555;
}

.dialog-header, .dialog-footer {
    display: flex;
    justify-content: space-between;
}

.dialog-footer {
    margin-top: 1em;
    justify-content: flex-end;
}

dialog input[type="text"], dialog input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #555;
    background-color: transparent;
    color: #ddd;
    font-size: 14px;
    transition: box-shadow 0.3s ease, border-bottom 0.3s ease; /* Transição suave */
}

dialog input[type="text"]:focus, dialog input[type="email"]:focus {
    outline: none; /* Remove o contorno padrão */
    border-bottom: 1px solid transparent; /* Linha inferior invisível */
    box-shadow: 0 1px 0 0 #c9c9c9, 0 3px 0 0 #c9c9c9; /* Sombra criando a linha grossa */
}

dialog input[type="text"]:hover, dialog input[type="email"]:hover {
    outline: none; /* Remove o contorno padrão */
    border-bottom: 1px solid transparent; /* Linha inferior invisível */
    box-shadow: 0 1px 0 0 #c9c9c9, 0 3px 0 0 #c9c9c9; /* Sombra criando a linha grossa */
}

.dialog-header{
    font-size: 1.5em;
    font-weight: bolder;
}

button.confirm-btn {
    background-color: #e6c222;
    border: none;
    border-radius: 15px;
    padding: 8px 20px;
    color: #333;
    cursor: pointer;
    font-weight: 600;
}

button.cancel-btn {
    border: none;
    border-radius: 15px;
    padding: 8px 20px;
    cursor: pointer;
    font-weight: 600;
    background-color: #55555500;
    color: white;
    transition: all 0.2s ease;
    margin-right: 1em;
}

button.cancel-btn:hover {
    background-color: #777;
}

#img-user{
    font-size: 0.3em;
}

/*css de formularios no site (páginas login, cadastro e editar perfil do usuario)*/

/* Configuração da seção principal */
.secao-caixa {
    display: flex; 
    align-items: center;
    flex-direction: column;
}

/* Estilo dos campos de entrada na seção principal */
.secao-caixa input[type="email"], .secao-caixa input[type="password"], .secao-caixa input[type="text"], .secao-caixa input[type="number"] {
    width: 100%;
    color: rgb(230, 218, 211); 
    background-color: rgba(81, 81, 96, 0.6); 
    border: none; 
    border-radius: 9px;
    font-size: 1rem; 
    padding: 0.5em; 
    outline: none; 
    margin: 1vh 0; 
}

/* Estilo dos botões */
.secao-caixa .butao {
    width: 100%; 
    padding: 0.5em;
    background-color: #e6c222; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    color: rgb(0, 0, 0); 
    margin-top: 1em;
}

/* Estilo dos botões ao passar o mouse */
.secao-caixa .butao:hover {
    background-color: #c4a82c; 
    transform: translateY(0.5px); 
}

/* Estilo do container de conteúdo */
.conteudo {
    display: flex; 
    background-color: rgb(31, 31, 31);
    border-radius: 10px; 
    padding: 1.7em 2em;
    min-width: 30vw; 
    margin-bottom: 2em; 
}

form{
    width: 100%;
}

/* Estilo das labels nos formulários */
form label {
    color: aliceblue; 
}

/* Estilo de ícones */
.icone {
    color: aliceblue; 
    font-size: 15vh;
}

/* Estilo das labels e inputs dentro do container de conteúdo */
.conteudo label, .conteudo input[type="email"], .conteudo input[type="password"], .conteudo input[type="text"], .conteudo input[type="number"]{
    display: block;
}