section {
    color: white;
    margin: 2vh 10vw;
}

h1, h2, p:hover {
    cursor:default;
}

h1 {
    background-color: #e6c222;
    width: fit-content;
    border-radius: 30px;
    padding: 0.2em 0.4em;
    color: black;
}

.poster {
    max-width: 10em;
    height: fit-content;
    border-radius: 10px;
}

.tags{
    list-style: none;
    padding-left: 0;
    display: flex;
}

.tags li {
    background-color: #e6c222;
    color: black;
    margin: 0.6em 0.4em 0.6em 0;
    padding: 0.2em 0.4em;
    border-radius: 30px;
    cursor: pointer;
}

.filme {
    display: flex;
    margin-top: 2.5em;
    margin-bottom: 2em;
    background-color: #454567;
    padding: 1.4em;
    border-radius: 10px;
    min-width: fit-content;
}

.dados {
    margin-left: 1em;
    text-align: justify;
}

.sinopse{
    font-size: 1.2em;
}