

h1, h2, p:hover {
    cursor:default;
}

h1 {
    background-color: #e6c222;
    width: fit-content;
    border-radius: 30px;
    padding: 0.2em 0.5em 0.2em 0.45em;
    color: black;
    margin: 0.5em 0;
}