h1{
    margin-right: 1vw;
}


/* Estilização do banner do fundo */
#banner {
    background-size: cover;
    object-fit: contain;
    height: fit-content;
}

/* Estilização do fundo escuro atrás do conteúdo do banner */
.backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    transition: all 0.2s;
}

/*Estilização do centralizador do banner principal e o botão de plataformas*/
.wrapper {
    color: #000;
    display: flex;
    flex-direction: column;
}

/* Estilização do conteúdo do banner */
#contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 3em 10%;
}

/* Botão para ver plataformas disponiveis*/
#plataformas_button {
    background-color: #e6c222;
    cursor: pointer;
    transition: all 0.2s;
    width: 100%;
    padding: 1em 0;
    text-align: center;
    border-radius: 0 0 8px 8px;
    border: none;
}

/* Estilização do botão ao passar o mouse */
#plataformas_button:hover {
    background-color: #000;
    color: #fff;
}

/* Seção oculta de plataformas */
#plataformas {
    min-width: 50vw;
    padding-left: 2em;
    display: none;
}

/* Estilização da imagem principal da Producao */
.main-banner {
    width: 15em;
    min-width: 12em;
    border-radius: 8px 8px 0 0;
}

/* Informacoes dentro do banner */
.banner_contents {
    margin-left: 2em;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Lista de tags */
#lista-tag.lista {
    height: fit-content;
}

/* Dados gerais do banner */
#dados_gerais {
    display: flex;
    align-items: center;
    width: 50vw;
}

/* Estilização da seção da avaliação */
.score {
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

/* Margem para o título da porcentagem */
.porcentagem_titulo {
    margin-left: 1em;
}

/* Tamanho do ícone de play */
.bx-play {
    font-size: 1.5rem;
}

/* Tamanho do ícone de estrela */
.bx-star {
    font-size: 1.5rem;
}

/* Tamanho do ícone de marcador */
#mark {
    font-size: 1.5rem;
}

/* Estilização do ano de estreia*/
.ano {
    color: #c9c9c9de;
    font-size: 2em;
}

/* Estilizacao da div que contem as informacoes principais da producao*/
.banner_dados_titulo {
    width: 100%;
    display: block;
    align-items: center;
    margin-bottom: 2em;
}

/* Título do banner */
.banner_titulo {
    display: flex;
    align-items: center;
}

/* Estilização do título */
.titulo {
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 0.3rem;
}

/* Estilização da classificação etária */
.classificacao_idade {
    color: #c9c9c9de;
    border: solid 0.1em;
    border-radius: 8px;
    border-color: #c9c9c9de;
    padding: 0.2em;

}

/* Informação da sinopse */
.sinopse_info {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    max-width: 100%;
    height: fit-content;
    margin-bottom: 1em;
}

/* Título da sinopse */
.sinopse_titulo {
    margin-bottom: 0.5em;
}

/* Layout dos produtores */
#produtores {
    grid-template-columns: 33% 33% 33%;
    display: grid;
    gap: 1em;
}

/* Estilização do card de produtor */
.card_produtor {
    width: fit-content;
}

/* Estilização do botão do banner */
.banner_button {
    display: flex;
    cursor: pointer;
    color: #fff;
    outline: none;
    font-weight: 700;
    border-radius: 8px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #00000086;
    text-decoration: none;
    align-items: center;
    border-color: #646464;
    border-style: solid;
    border-width: 1px;
    height: fit-content;
    transition: all 0.2s;
}

/* Estilização do botão do banner ao passar o mouse */
.banner_button:hover {
    color: #000;
    background-color: #e6e6e6;
    border-color: #e6e6e6;
}

/* Container dos botões do banner */
.banner_buttons {
    color: #fff;
    display: flex;
    align-items: center;
}

/* Estilização das tags */
.tags {
    justify-content: end;
    display: flex;
    flex-wrap: wrap;
}

/* Estilização dos links das tags */
.tags a {
    background-color: #00000086;
    color: #ffffff;
    border-radius: 8px;
    text-align: center;
    padding: 0.5em;
    margin: 0.2em 0.2em;
    transition: transform 450ms;
    height: fit-content;
    text-decoration: none;
}

/* Estilização das listas gerais */
.lista {
    margin: 0 10%;
}

/* Estilização específica para a lista de tags */
#lista-tag {
    margin: 0;
    flex-wrap: wrap;
    width: 20vw;
}

/* Estilização da altura imagem principal do banner dentro de um contêiner */
.main-banner img {
    min-height: 50%;
}

/* Estilização para ícones */
.icon {
    filter: invert();
}

/* Estilização da Logo dos Provedores */
section .lista .item-logo img{
    border-radius: 8px;
    width: 2.5em;
    margin-right: 0.5em;
}

/* Estilização da lista de plataformas */
#plataformas .lista{
    margin: 0;
    display: flex;
    margin-bottom: 2em;
}

#plataformas .lista .item-logo{
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.lista .vertical {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.vertical img{
    margin-right: 1em;
    border-end-end-radius: 0;
    border-start-end-radius: 0;
    width: 9em;
    height: 13.5em;
}
.vertical .item{
    background-color: rgb(31, 31, 31);
    text-align: left;
    max-width: 100%;
    margin-bottom: 2em;
    transform: none;
    cursor: default;
    border-radius: 8px;
}

.vertical p{
    width: 100%;
} 

#elenco .item img{
    width: 10.5em;
    height: 15.75em;
}


.icon_button{
    margin-right: 1em;;
}

/* Estilizando o link/botão */
.tooltip_avaliar {
    position: relative; /* Necessário para o posicionamento do tooltip */
    display: inline-block; 
    text-decoration: none;
  }
  
  /* Estilo do tooltip (inicialmente escondido) */
  .tooltip_avaliar::after {
    content: "Avaliar"; /* Texto que aparecerá no tooltip */
    position: absolute;
    bottom: 100%; /* Posiciona o tooltip acima do link */
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 8px;
    white-space: nowrap; /* Evita quebras de linha */
    opacity: 0; /* Invisível inicialmente */
    pointer-events: none; /* Evita interação com o tooltip */
    transition: opacity 0.3s ease;
  }
  
  /* Mostrando o tooltip no hover */
  .tooltip_avaliar:hover::after {
    opacity: 0.7; /* Mostra o tooltip no hover */
  }
  

/* Estilizando o link/botão */
.tooltip_add_a_lista {
    position: relative; /* Necessário para o posicionamento do tooltip */
    display: inline-block; 
    text-decoration: none;
  }
  
  /* Estilo do tooltip (inicialmente escondido) */
  .tooltip_add_a_lista::after {
    content: "Adicionar à Lista"; /* Texto que aparecerá no tooltip */
    position: absolute;
    bottom: 100%; /* Posiciona o tooltip acima do link */
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 8px;
    white-space: nowrap; /* Evita quebras de linha */
    opacity: 0; /* Invisível inicialmente */
    pointer-events: none; /* Evita interação com o tooltip */
    transition: opacity 0.3s ease;
  }
  
  /* Mostrando o tooltip no hover */
  .tooltip_add_a_lista:hover::after {
    opacity: 0.7; /* Mostra o tooltip no hover */
  }

#myDialogAvaliar{
    width: 20vw;
}

#myDialogSalvarProd{
    width: 25vw;
    height: fit-content;
}

/* Estilo das estrelas */
.star-rating {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.star-rating input {
    display: none;
}

.star {
    font-size: 2.5em;
    color: #aaa; /* Cor padrão das estrelas */
    transition: color 0.3s;
}

.star:hover,
.star-rating input:checked ~ .star {
    color: #ffc107; /* Cor amarela ao passar o mouse */
}

#novaLista{
    color: #777;
    cursor: pointer;
}

span{
    cursor: default;
}

hr{
    border-color: #555;
}

label input[type="checkbox"]{
    padding: 1em;
}

#tagsAssociadas_add{
    display: flex;
    justify-content: space-between;

}

#openDialogAdicionarTag{
    margin-left: 1em;;
    margin-bottom: 1em;
    background-color: #e6c222;
    color: #000;
    border: solid #000;
    border-width: 1px;
    border-radius: 15px;
    font-weight: normal;
}

#openDialogAdicionarTag:hover{
    color: #ffffff;
    background-color: #000000;
    transition: all 0.2s;
    border-color: #e6e6e6;
    transition: all 0.2s;
    border: 1px solid #ffffff;
}

.dialog-content{
    height: fit-content;
}
/* resolver isso*/
.dialog-content label{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}



.sub-p{
    color: gray;
}

#elenco .item{
    width: 12em;
    margin: 0;
    margin-bottom: 1em;
}

#elenco .item-background{
    background-color: rgb(31, 31, 31);
    border-radius: 8px;
}

#elenco .item img{
    width: 100%;
    border-end-end-radius: 0;
    border-end-start-radius: 0;
}




/*Adicionar Tag*/

/* Tag Input Dialog */
#tagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}

.tag {
    background-color: #444;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    display: inline-block;
}

.tag-input-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

#inputTag {
    flex: 1;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #555;
    background-color: transparent;
    color: #ddd;
    font-size: 14px;
    transition: box-shadow 0.3s ease, border-bottom 0.3s ease;
}

#inputTag:focus {
    outline: none;
    border-bottom: 1px solid transparent;
    box-shadow: 0 1px 0 0 #c9c9c9, 0 3px 0 0 #c9c9c9;
}

.check-btn {
    background-color: #444;
    color: #ddd;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.check-btn:hover {
    background-color: #555;
}

#recomendacoesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}
