.banner{
    background-size: cover;
    background-position: center center;
    object-fit: contain;
    height: fit-content;
    background-image: url("../img/posteres/banner.jpg");
}

.backdrop{
    background-color: rgba(40, 40, 48, 0.5);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    
}
.wrapper{
    color: #000;
    display: flex;
    flex-direction: column;
}

.plataformas_button{
    background-color: #e6c222;
    cursor: pointer;
    transition: all 0.2s;
    width: 100%;
    padding: 1em 0;
    text-align: center;
    border-radius: 0 0 8px 8px;
    border: none;
}

.plataformas_button:hover{
    background-color: #000;
    color: #fff;
}

#plataformas{
    min-width: 50vw;
    margin-left: 2em;
    display: none;
}

.main-banner{
    width: 15em;
    min-width: 12em;
    border-radius: 8px 8px 0 0;
}

.main-banner_banner_contents{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    margin: 3em;
}

.banner_contents{
    margin-left: 2em;
    height: 50%;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

#lista-tag.lista{
    height: fit-content;
}

#dados_gerais{
    display: flex;
    align-items: center;
}

.score{
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.porcentagem_titulo{
    margin-left: 1em;
}

.bx-play{
    font-size: 1.5rem;
}
.bx-star{
    font-size: 1.5rem;
}

#mark{
    font-size: 1.5rem;
}


.ano{
    color: #c9c9c9de;
    font-size: 2em;
}

.banner_dados_titulo{
    width: 100%;
    display: block;
    align-items: center;
    margin-bottom: 2em;
}

.banner_titulo{
    display: flex;
    align-items: center;
}

.titulo{
    font-size: 3rem;
    font-weight: 600;
    padding-bottom: 0.3rem;
}

.classificacao_idade{
    color: #c9c9c9de;;
    border: solid 0.1em;
    border-radius: 0.2em;
    border-color: #c9c9c9de;;
    
    padding: 0.2em;

}
.sinopse_info{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 100%;
    height: fit-content;
}

.sinopse_titulo{
    margin-bottom: 1em;
}

.banner_button{
    display: flex;
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
    text-decoration: none;
    align-items: center;
}

.banner_button:hover{
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

.banner_buttons{
    color: #fff;
    display: flex;
    align-items: center;
}

.row_poster{
    width: fit-content;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10%;
    transition: transform 450ms;
    border-radius: 10%;
}

.row_posters{
    margin-top: 20px;
    display: grid;
    grid-auto-flow: column;

    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-inline: contain;
}

.row_poster:hover{
    transform:scale(1.08);
}

.row_posterLarge{
    max-height: 250px;
    border-radius: 10%;
    
}


.row_posterLarge:hover{
    transform: scale(1.09);
    border-radius: 10%;
}

.row{
    color: white;
    margin-left: 20px;
}

.tags{
    justify-content: end;
    display: flex;
    flex-wrap: wrap;
}

.tags a{
    background-color:#00000086;
    color: #ffffff;
    border-radius: 13px;
    text-align: center;
    padding: 0.5em;
    margin: 0.2em 0.2em;
    transition: transform 450ms;
    height: fit-content;
    text-decoration: none;

}

.lista {
    margin: 0 10%;
}

#lista-tag{
    margin: 0;
    flex-wrap: wrap;
    width: 20vw;
    text-align: end;
}

.main-banner img{
    border-radius: none;
    max-width: 100px;
    max-height: 100px;
    min-height: 50%;
    
}

.icon {
    filter: invert();
}