#caixinha{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bxs-edit-alt{
    color: grey;
    font-size: 1.8em;
}

#novaProducao{
    font-size: 0.59em;
    color: grey;
    margin-left: 0.7em;
    cursor: pointer;
}

.filme{
    margin-right: 0;
}

dialog {
    background-color: #333; /* Cor do fundo do diálogo */
    border: none; /* Remove a borda padrão */
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    color: white;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.65); /* Fundo escurecido */
}

dialog input[type="text"] {
    padding: 0.5em 0;
    margin: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #555;
    background-color: transparent;
    color: #ddd;
    font-size: 14px;
    transition: box-shadow 0.3s ease, border-bottom 0.3s ease; /* Transição suave */
}

dialog input[type="text"]:focus {
    outline: none; /* Remove o contorno padrão */
    border-bottom: 1px solid transparent; /* Linha inferior invisível */
    box-shadow: 0 1px 0 0 #7a7a7a, 0 3px 0 0 #7a7a7a; /* Sombra criando a linha grossa */
}

dialog input[type="text"]:hover {
    outline: none; /* Remove o contorno padrão */
    border-bottom: 1px solid transparent; /* Linha inferior invisível */
    box-shadow: 0 1px 0 0 #7a7a7a, 0 3px 0 0 #7a7a7a; /* Sombra criando a linha grossa */
}

.bx-search-alt-2{
    color: grey;
    font-size: 14px;
}