#caixinha{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bxs-edit-alt, .bx-check{
    color: white;
    font-size: 1.8em;
}

#novaProducao{
    font-size: 0.59em;
    color: grey;
    margin-left: 0.7em;
    cursor: pointer;
}

.filme{
    margin-right: 0;
}

dialog{
    position: absolute;
    top: 10.5em;
    right: 4em;
}

dialog input[type="text"]{
    padding: 0.5em 0;
    margin: 0 0 10px 0;
}

.bx-search-alt-2{
    color: grey;
    font-size: 14px;
    margin: auto 0 auto 1em;
    padding-bottom: 0.5em;
}

.filmeBusca{
    display: flex;
    text-decoration: none;
    margin-top: 0.3em;
}

.filmeBusca img {
    max-width: 15vh;
    border-radius: 8px;
}

.filmeBusca div{
    margin-left: 1em;
}

.filmeBusca h2{
    font-size: 1em;
}

.filmeBusca p{
    font-size: 0.8em;
}

hr{
    border-color: #555555;
    margin: 1em 0;
}

span{
    color: grey;
    margin-left: 0.3em;
}